<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Steps for Test ID: {{ test_id }}</title>
    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        #generateSQLButton {
            display: none;
        }

        #sql_code_display {
            display: none;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
    <h1>Test Steps for Test ID: {{ test_id }}</h1>
    <a href="{{ url_for('index') }}"><button>Main Page</button></a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Test ID</th>
                <th>Step Name</th>
                <th>Order Number</th>
                <th>Type</th>
                <th>SQL Code</th>
                <th>Target User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for step in test_steps %}
            <tr>
                <td>{{ step[0] }}</td>
                <td>{{ step[1] }}</td>
                <td>{{ step[2] }}</td>
                <td>{{ step[3] }}</td>
                <td>{{ step[7] }}</td>
                <td>{{ step[8] }}</td>
                <td>{{ step[9] }}</td>
                <td>
                    <form action="/delete_step" method="post">
                        <input type="hidden" name="id" value="{{ step[0] }}">
                        <input type="hidden" name="test_id" value="{{ test_id }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <form id="addStepForm" action="/add_step" method="post">
                    <td><input type="text" name="new_id"></td>
                    <td><input type="text" name="new_test_id"></td>
                    <td><input type="text" name="new_step_name"></td>
                    <td><input type="text" name="new_order_number"></td>
                    <td><input type="text" name="new_type" id="new_type" value=""></td>
                    <td>
                        <button type="button" onclick="openPopup()">Add SQL</button>
                        <input type="text" name="new_sql_code" id="new_sql_code" value="">
                    </td>
                    <td><input type="text" name="new_target_user"></td>
                    <td><button type="submit">Add</button></td>
                </form>                
            </tr>
        </tbody>
    </table>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Add Step</h2>
            <form id="stepForm" onsubmit="event.preventDefault()">
                <label for="step_type">Select Step Type:</label>
                <select id="step_type" name="step_type" onchange="showParametersForm()">
                    <option value="none">Select Step Type</option>
                    <option value="TABLECOPY">Table Copy</option>
                    <option value="LM_JOB">LM Job</option>
                    <option value="STORED_PROCEDURE">Stored Procedure</option>
                </select><br><br>
        
                <div id="parametersForm" style="display: none;">
                    <h3>Enter Parameters for TABLECOPY_PACKAGE.TABLECOPY</h3>
        
                    <label for="source_schema">Source Schema:</label>
                    <select id="source_schema" name="source_schema" onchange="getTablesForSourceSchema(this.value)">
                        {% for username in usernames %}
                        <option value="{{ username }}">{{ username }}</option>
                        {% endfor %}
                    </select><br><br>
        
                    <label for="source_table">Source Table:</label>
                    <select id="source_table" name="source_table"></select><br><br>
        
                    <label for="target_schema">Target Schema:</label>
                    <select id="target_schema" name="target_schema" onchange="getTablesForSchema(this.value)">
                        {% for username in usernames %}
                        <option value="{{ username }}">{{ username }}</option>
                        {% endfor %}
                    </select><br><br>
        
                    <label for="target_table">Target Table:</label>
                    <select id="target_table" name="target_table"></select><br><br>
        
                    <label for="truncate">Truncate (true/false):</label>
                    <select id="truncate" name="truncate">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select><br><br>            
        
                    <label for="date">Date:</label>
                    <select id="date" name="date"></select><br><br>
                </div>
        
                <button id="generateSQLButton" onclick="generateAndDisplaySQL()">Generate SQL</button>
        
                <div id="sql_code_display"></div>
                
                <input type="hidden" name="new_sql_code" id="new_sql_code" value="">
                
                <input type="button" value="Submit" onclick="sendSQLToParent()">
            </form>
        </div>
    </div>

    <script>     

        function showParametersForm() {
            let stepType = document.getElementById('step_type').value;
            if (stepType === 'TABLECOPY') {
                document.getElementById('parametersForm').style.display = 'block';
                document.getElementById('generateSQLButton').style.display = 'inline-block'; 
            } else {
                document.getElementById('parametersForm').style.display = 'none';
                document.getElementById('generateSQLButton').style.display = 'none'; 
            }
        }
    
        function getTablesForSchema(selectedSchema) {
            var targetTableSelect = document.getElementById('target_table');
            fetch('/get_tables_for_schema', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ schema: selectedSchema })
            })
            .then(response => response.json())
            .then(data => {
                targetTableSelect.innerHTML = '';
                data.forEach(function(table) {
                    var option = document.createElement('option');
                    option.value = table;
                    option.textContent = table;
                    targetTableSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
        }
    
        function getTablesForSourceSchema(selectedSchema) {
            var sourceTableSelect = document.getElementById('source_table');
            fetch('/get_tables_for_schema', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ schema: selectedSchema })
            })
            .then(response => response.json())
            .then(data => {
                sourceTableSelect.innerHTML = '';
                data.forEach(function(table) {
                    var option = document.createElement('option');
                    option.value = table;
                    option.textContent = table;
                    sourceTableSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
        }
    
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/get_workdays', {
                method: 'GET',
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                var dateSelect = document.getElementById('date');
                data.forEach(function(day) {
                    var option = document.createElement('option');
                    option.value = day;
                    option.textContent = day;
                    dateSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
        });
    
        function generateSQL() {
            var stepType = document.getElementById('step_type').value;
            var sourceSchema = document.getElementById('source_schema').value;
            var sourceTable = document.getElementById('source_table').value;
            var targetSchema = document.getElementById('target_schema').value;
            var targetTable = document.getElementById('target_table').value;
            var truncate = document.getElementById('truncate').value;
            var chosenDate = document.getElementById('date').value;
    
            var sqlCode = "BEGIN ";
            sqlCode += stepType.toUpperCase() + "_PACKAGE." + stepType.toUpperCase() + "(";
            sqlCode += "'" + sourceSchema + "', ";
            sqlCode += "'" + sourceTable + "', ";
            sqlCode += "'" + targetSchema + "', ";
            sqlCode += "'" + targetTable + "', ";
            sqlCode += "'" + truncate + "', ";
            sqlCode += "TO_DATE('" + chosenDate + "','yyyy-mm-dd')); END;";
    
            return sqlCode;
        }
        
        function generateAndDisplaySQL() {
            var sqlCode = generateSQL(); 
            console.log(sqlCode); 
            var sqlDisplayDiv = document.getElementById('sql_code_display');
            sqlDisplayDiv.innerText = sqlCode;
            sqlDisplayDiv.style.display = 'block'; // Make sure to show the element
        }

        
        function sendSQLToParent() {
            var sqlCode = document.getElementById('sql_code_display').innerText;
            var selectedType = document.getElementById('step_type').value;
            // Set the value of 'new_sql_code' input field in the parent window
            document.getElementById('new_sql_code').value = sqlCode;
            document.getElementById('new_type').value = selectedType; // Set the value of new_type
        
            // Close the modal
            document.getElementById("myModal").style.display = "none";
        }




        function openPopup() {
            // Get the modal
            var modal = document.getElementById("myModal");

            // Display the modal by changing its style
            modal.style.display = "block";

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            // Your existing logic to populate the modal with data, if necessary
            var sqlCode = generateSQL(); 
            var sqlDisplayDiv = document.getElementById('sql_code_display'); 
            if (sqlDisplayDiv) {
                sqlDisplayDiv.innerText = sqlCode; 
            } else {
                console.error('Error: Unable to find sql_code_display div in modal');
            }
        }

        // Remove the window.open code and the functions related to the pop-up window
        // Update the rest of your JavaScript code to work with the modal
    </script>
</body>
</html>
