<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Test Steps for Test ID: {{ test_id }}</title>
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        #generateSQLButton {
            display: none;
        }

        #sql_code_display {
            display: none;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
    <h1>Edit Test Steps for Test ID: {{ test_id }}</h1>
    <a href="{{ url_for('index') }}"><button>Main Page</button></a>
    <a href="{{ url_for('test_steps', test_id=test_id) }}"><button>Finish Editing</button></a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Test ID</th>
                <th>Step Name</th>
                <th>Order Number</th>
                <th>Type</th>
                <th>SQL Code</th>
                <th>Target User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for step in test_steps %}
            <tr>
                <td>{{ step[0] }}</td>
                <td>{{ step[1] }}</td>
                <td>{{ step[2] }}</td>
                <td>{{ step[3] }}</td>
                <td>{{ step[7] }}</td>
                <td>{{ step[8] }}</td>
                <td>{{ step[9] }}</td>
                <td>
                    <form action="/delete_step" method="post">
                        <input type="hidden" name="id" value="{{ step[0] }}">
                        <input type="hidden" name="test_id" value="{{ test_id }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <form id="addStepForm" action="/add_step" method="post">
                    <td><input type="text" name="new_id"></td>
                    <td><input type="text" name="new_test_id"></td>
                    <td><input type="text" name="new_step_name"></td>
                    <td><input type="text" name="new_order_number"></td>
                    <td><input type="text" name="new_type" id="new_type" value=""></td>
                    <td>
                        <button type="button" onclick="openPopup()">Add SQL</button>
                        <input type="text" name="new_sql_code" id="new_sql_code" value="">
                    </td>
                    <td><input type="text" name="new_target_user"></td>
                    <td><button type="submit">Add</button></td>
                </form>                
            </tr>
        </tbody>
    </table>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Add Step</h2>
            <form id="stepForm" onsubmit="event.preventDefault()">
                <label for="step_type">Select Step Type:</label>
                <select id="step_type" name="step_type" onchange="showParametersForm()">
                    <option value="none">Select Step Type</option>
                    <option value="TABLECOPY">Table Copy</option>
                    <option value="LM_JOB">LM Job</option>
                    <option value="STORED_PROCEDURE">Stored Procedure</option>
                </select><br><br>
        
                <div id="parametersForm" style="display: none;">
                    <h3>Enter Parameters for TABLECOPY_PACKAGE.TABLECOPY</h3>
        
                    <label for="source_schema">Source Schema:</label>
                    <select id="source_schema" name="source_schema" onchange="getTablesForSourceSchema(this.value)">
                        {% for username in usernames %}
                        <option value="{{ username }}">{{ username }}</option>
                        {% endfor %}
                    </select><br><br>
        
                    <label for="source_table">Source Table:</label>
                    <select id="source_table" name="source_table"></select><br><br>
        
                    <label for="target_schema">Target Schema:</label>
                    <select id="target_schema" name="target_schema" onchange="getTablesForTargetSchema(this.value)">
                        {% for username in usernames %}
                        <option value="{{ username }}">{{ username }}</option>
                        {% endfor %}
                    </select><br><br>
        
                    <label for="target_table">Target Table:</label>
                    <select id="target_table" name="target_table"></select><br><br>
        
                    <label for="truncate">Truncate (true/false):</label>
                    <select id="truncate" name="truncate">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select><br><br>            
        
                    <label for="date">Date:</label>
                    <select id="date" name="date"></select><br><br>
                </div>


                <div id="LMparametersForm" style="display: none;">
                    <h3>Enter Parameters for LM_JOB</h3>
                
                    <label for="module">Select Module:</label>
                    <select id="module" name="module" onchange="getTypesForModule(this.value); getNamesForModule(this.value)">
                        {% for module in modules %}
                        <option value="{{ module }}">{{ module }}</option>
                        {% endfor %}
                    </select><br><br>

                    <label for="type">Type:</label>
                    <span id="type" name="type"></span><br><br>

                    <label for="name">Select Name:</label>
                    <select id="name" name="name"></select><br><br>
                </div>


                <div id="StoredProcedureForm" style="display: none;">
                    <h3>Enter Parameters for Stored Procedure</h3>

                    <label for="storedprocedure_type">Select Stored Procedure Type:</label>
                    <select id="storedprocedure_type" name="storedprocedure_type" onchange="showSPParametersForm()">
                        <option value="none">Select Stored Procedure Type</option>
                        <option value="Function_or_Procedure">Function or Procedure</option>
                        <option value="Package">Package</option>
                    </select><br><br>

                    <div id="FunctionOrProcedureForm" style="display: none;">
                        <h3>Enter Parameters for Stored Function or Procedure</h3>

                        <label for="procedures_schema">Schema:</label>
                        <select id="procedures_schema" name="procedures_schema" onchange="getProceduresForSchema(this.value)">
                            {% for procedures_schema in procedures_schemas %}
                            <option value="{{ procedures_schema }}">{{ procedures_schema }}</option>
                            {% endfor %}
                        </select><br><br>

                        <label for="storedobject_name">Stored Function or Procedure Name:</label>
                        <select id="storedobject_name" name="storedobject_name" onchange="getParametersForStoredProcedure(this.value)">
                            {% for storedobject_name in storedobject_names %}
                            <option value="{{ storedobject_name }}">{{ storedobject_name }}</option>
                            {% endfor %}
                        </select><br><br>


                        <label for="parameters">Parameters:</label>
                        <div id="parameters"></div><br><br>

                    </div>

                    <div id="PackageForm" style="display: none;">
                        <h3>Enter Parameters for Stored Package</h3>
                    
                        <label for="procedures_schema">Schema:</label>
                        <select id="procedures_schema_package" name="procedures_schema" onchange="getPackagesForSchema(this.value)">
                            {% for procedures_schema in procedures_schemas %}
                            <option value="{{ procedures_schema }}">{{ procedures_schema }}</option>
                            {% endfor %}
                        </select><br><br>
                    
                        <label for="storedpackage_name">Stored Package Name:</label>
                        <select id="storedpackage_name" name="storedpackage_name" onchange="getProceduresForPackage(this.value, document.getElementById('procedures_schema_package').value)">
                            {% for storedpackage_name in storedpackage_names %}
                            <option value="{{ storedpackage_name }}">{{ storedpackage_name }}</option>
                            {% endfor %}
                        </select><br><br>
                    
                        <label for="storedobject_name">Stored Package's Function or Procedure Name:</label>
                        <select id="storedobject_name_package" name="storedobject_name" onchange="getParametersForStoredProcedureInPackage(this.value, document.getElementById('procedures_schema_package').value, document.getElementById('storedpackage_name').value)">
                            {% for storedobject_name in storedobject_names %}
                            <option value="{{ storedobject_name }}">{{ storedobject_name }}</option>
                            {% endfor %}
                        </select><br><br>
                    
                        <label for="parameters_package">Parameters:</label>
                        <div id="parameters_package"></div><br><br>
                    </div>
                    

                    <button id="generateSQLButtonSP" onclick="generateAndDisplaySQLSP()">Generate SQL</button>
                </div>
        
                <button id="generateSQLButton" onclick="generateAndDisplaySQL()">Generate SQL</button>

                <div id="sql_code_display"></div>
                
                <input type="hidden" name="new_sql_code" id="new_sql_code" value="">
                
                <input type="button" value="Submit" onclick="sendSQLToParent()">
            </form>
        </div>
    </div>
    
    <script>

        function showParametersForm() {
            let selectedType = document.getElementById('step_type').value;
            if (selectedType === 'TABLECOPY') {
                document.getElementById('parametersForm').style.display = 'block';
                document.getElementById('generateSQLButton').style.display = 'inline-block'; 
                document.getElementById('LMparametersForm').style.display = 'none';
                document.getElementById('StoredProcedureForm').style.display = 'none';
            } else if (selectedType === 'LM_JOB') {
                document.getElementById('parametersForm').style.display = 'none';
                document.getElementById('generateSQLButton').style.display = 'inline-block'; 
                document.getElementById('LMparametersForm').style.display = 'block';
                document.getElementById('StoredProcedureForm').style.display = 'none';
            } else if (selectedType === 'STORED_PROCEDURE') {
                document.getElementById('parametersForm').style.display = 'none';
                document.getElementById('generateSQLButton').style.display = 'none'; 
                document.getElementById('LMparametersForm').style.display = 'none';
                document.getElementById('StoredProcedureForm').style.display = 'block';
            } else {
                document.getElementById('parametersForm').style.display = 'none';
                document.getElementById('generateSQLButton').style.display = 'none'; 
                document.getElementById('LMparametersForm').style.display = 'none';
                document.getElementById('StoredProcedureForm').style.display = 'none';
            }
        }


        function showSPParametersForm() {
            let selectedType = document.getElementById('storedprocedure_type').value;
            if (selectedType === 'Function_or_Procedure') {
                document.getElementById('FunctionOrProcedureForm').style.display = 'block';
                document.getElementById('generateSQLButtonSP').style.display = 'inline-block'; 
                document.getElementById('PackageForm').style.display = 'none';
            } else if (selectedType === 'Package') {
                document.getElementById('FunctionOrProcedureForm').style.display = 'none';
                document.getElementById('generateSQLButtonSP').style.display = 'inline-block'; 
                document.getElementById('PackageForm').style.display = 'block';
            } else {
                document.getElementById('FunctionOrProcedureForm').style.display = 'none';
                document.getElementById('generateSQLButtonSP').style.display = 'none'; 
                document.getElementById('PackageForm').style.display = 'none';
            }
        }


        function getProceduresForSchema(selectedSchema) {
            var storedObjectSelect = document.getElementById('storedobject_name');
            fetch('/get_procedures_for_schema', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ schema: selectedSchema })
            })
            .then(response => response.json())
            .then(data => {
                storedObjectSelect.innerHTML = '';
                data.forEach(function(procedure) {
                    var option = document.createElement('option');
                    option.value = procedure;
                    option.textContent = procedure;
                    storedObjectSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
        }


        function getParametersForStoredProcedure(selectedStoredObjectName) {
            fetch('/get_parameters_for_stored_procedure', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ storedobject_name: selectedStoredObjectName })
            })
            .then(response => response.json())
            .then(data => {
                var parametersDiv = document.getElementById('parameters');
                parametersDiv.innerHTML = '';
                data.forEach(function(parameter) {
                    var parameterInput = document.createElement('input');
                    parameterInput.type = 'text';
                    parameterInput.value = parameter.default_value;
                    parameterInput.placeholder = parameter.argument_name;
                    parameterInput.setAttribute('name', parameter.argument_name);
                    parametersDiv.appendChild(parameterInput);
                });
            })
            .catch(error => console.error('Error:', error));
        }
    


        function getParametersForStoredProcedureInPackage(selectedStoredObjectName, selectedSchema, selectedPackage) {
            fetch('/get_parameters_for_stored_procedure_in_package', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ storedobject_name: selectedStoredObjectName, schema: selectedSchema, package_name: selectedPackage })
            })
            .then(response => response.json())
            .then(data => {
                var parametersDiv = document.getElementById('parameters_package');
                parametersDiv.innerHTML = '';
                data.forEach(function(parameter) {
                    var parameterInput = document.createElement('input');
                    parameterInput.type = 'text';
                    parameterInput.value = parameter.default_value;
                    parameterInput.placeholder = parameter.argument_name;
                    parameterInput.setAttribute('name', parameter.argument_name);
                    parametersDiv.appendChild(parameterInput);
                });
            })
            .catch(error => console.error('Error:', error));
        }

        

        function getPackagesForSchema(selectedSchema) {
            var storedPackageSelect = document.getElementById('storedpackage_name');
            fetch('/get_packages_for_schema', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ schema: selectedSchema })
            })
            .then(response => response.json())
            .then(data => {
                storedPackageSelect.innerHTML = '';
                data.forEach(function(package) {
                    var option = document.createElement('option');
                    option.value = package;
                    option.textContent = package;
                    storedPackageSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
        }

        
        function getProceduresForPackage(selectedPackage, selectedSchema) {
            var storedObjectSelect = document.getElementById('storedobject_name_package');
            fetch('/get_procedures_for_package', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ schema: selectedSchema, package: selectedPackage })
            })
            .then(response => response.json())
            .then(data => {
                storedObjectSelect.innerHTML = '';
                data.forEach(function(procedure) {
                    var option = document.createElement('option');
                    option.value = procedure;
                    option.textContent = procedure;
                    storedObjectSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
        }


        function getTablesForTargetSchema(selectedSchema) {
            var targetTableSelect = document.getElementById('target_table');
            fetch('/get_tables_for_schema', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ schema: selectedSchema })
            })
            .then(response => response.json())
            .then(data => {
                targetTableSelect.innerHTML = '';
                data.forEach(function(table) {
                    var option = document.createElement('option');
                    option.value = table;
                    option.textContent = table;
                    targetTableSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
        }
    

        function getTablesForSourceSchema(selectedSchema) {
            var sourceTableSelect = document.getElementById('source_table');
            fetch('/get_tables_for_schema', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ schema: selectedSchema })
            })
            .then(response => response.json())
            .then(data => {
                sourceTableSelect.innerHTML = '';
                data.forEach(function(table) {
                    var option = document.createElement('option');
                    option.value = table;
                    option.textContent = table;
                    sourceTableSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
        }

    
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/get_workdays', {
                method: 'GET',
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                var dateSelect = document.getElementById('date');
                data.forEach(function(day) {
                    var option = document.createElement('option');
                    option.value = day;
                    option.textContent = day;
                    dateSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
        });


        function getNamesForModule(selectedModule) {
            var nameSelect = document.getElementById('name');
            fetch('/get_names_for_module', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ module: selectedModule })
            })
            .then(response => response.json())
            .then(data => {
                nameSelect.innerHTML = '';
                data.forEach(function(name) {
                    var option = document.createElement('option');
                    option.value = name;
                    option.textContent = name;
                    nameSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
        }


        function getTypesForModule(selectedModule) {
            var typeSelect = document.getElementById('type');
            fetch('/get_types_for_module', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ module: selectedModule })
            })
            .then(response => response.json())
            .then(data => {
                typeSelect.innerHTML = '';
                data.forEach(function(type) {
                    var option = document.createElement('option');
                    option.value = type;
                    option.textContent = type;
                    typeSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
        }
        
    
        function generateSQL() {
            var selectedType = document.getElementById('step_type').value;
            if (selectedType === 'TABLECOPY') {
                var sourceSchema = document.getElementById('source_schema').value;
                var sourceTable = document.getElementById('source_table').value;
                var targetSchema = document.getElementById('target_schema').value;
                var targetTable = document.getElementById('target_table').value;
                var truncate = document.getElementById('truncate').value;
                var chosenDate = document.getElementById('date').value;
                
                var sqlCode = "BEGIN ";
                sqlCode += "TABLECOPY_PACKAGE.TABLECOPY(";
                sqlCode += "'" + sourceSchema + "', ";
                sqlCode += "'" + sourceTable + "', ";
                sqlCode += "'" + targetSchema + "', ";
                sqlCode += "'" + targetTable + "', ";
                sqlCode += "'" + truncate + "', ";
                sqlCode += "TO_DATE('" + chosenDate + "','yyyy-mm-dd')); END;";
                
                return sqlCode;

            } else if (selectedType === 'LM_JOB') {
                var type = document.getElementById('type').value;
                var module = document.getElementById('module').value;
                var name = document.getElementById('name').value;
                
                console.log("LM_JOB parameters:", { type, module, name });

                var sqlCode = "declare ";
                sqlCode += "p_result varchar2(4000); ";
                sqlCode += "p_err_code varchar2(4000); ";
                sqlCode += "p_output clob; ";
                sqlCode += "begin ";
                sqlCode += "lm." + type + ".execute(1, '" + module + "', '" + name + "', p_result, p_err_code, p_output, false); ";
                sqlCode += "dbms_output.put_line(p_result || ' - ' || p_err_code); ";
                sqlCode += "dbms_output.put_line(p_output); ";
                sqlCode += "end; ";
                
                console.log("Generated SQL for LM_JOB:", sqlCode);
                return sqlCode;
            }
        }


        function generateAndDisplaySQL() {
            var sqlCode = generateSQL(); 
            console.log(sqlCode); 
            var sqlDisplayDiv = document.getElementById('sql_code_display');
            sqlDisplayDiv.innerText = sqlCode;
            sqlDisplayDiv.style.display = 'block';
        }


        function generateSQLSP() {
            var selectedType = document.getElementById('storedprocedure_type').value;
            if (selectedType === 'Function_or_Procedure') {
                var selectedStoredObjectName = document.getElementById('storedobject_name').value;
                var parameterValues = Array.from(document.getElementById('parameters').getElementsByTagName('input')).map(function(input) {
                return input.value;
                }).join(', ');
        
                var sqlCode = "BEGIN " + selectedStoredObjectName + "(" + parameterValues + "); END;";
                
                return sqlCode;

            } else if (selectedType === 'Package') {
                var type = document.getElementById('type').value;
                
                console.log("LM_JOB parameters:", { type, module, name });

                var sqlCode = "declare ";
                
                console.log("Generated SQL for Stored Procedure:", sqlCode);
                return sqlCode;
            }
        }


        function generateAndDisplaySQLSP() {
            var sqlCode = generateSQLSP(); 
            console.log(sqlCode); 
            var sqlDisplayDiv = document.getElementById('sql_code_display');
            sqlDisplayDiv.innerText = sqlCode;
            sqlDisplayDiv.style.display = 'block';
        }
        

        function sendSQLToParent() {
            var sqlCode = document.getElementById('sql_code_display').innerText;
            var selectedType = document.getElementById('step_type').value;
            document.getElementById('new_sql_code').value = sqlCode;
            document.getElementById('new_type').value = selectedType;
        
            document.getElementById("myModal").style.display = "none";
        }


        function openPopup() {
            var modal = document.getElementById("myModal");

            modal.style.display = "block";

            var span = document.getElementsByClassName("close")[0];

            span.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
            var sqlCode = generateSQL();
            var sqlDisplayDiv = document.getElementById('sql_code_display'); 
            if (sqlDisplayDiv) {
                sqlDisplayDiv.innerText = sqlCode; 
            } else {
                console.error('Error: Unable to find sql_code_display div in modal');
            }
        }

    </script>
</body>
</html>
