<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Table Contents</title>
</head>
<body>
    <h1>Test Table Contents</h1>
    <a href="{{ url_for('job_details') }}"><button>Job Log Details</button></a>
    <a href="{{ url_for('job_steps_details') }}"><button>Job Steps Log Details</button></a>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
                <tr>
                    <td><a href="{{ url_for('test_steps', test_id=test[0]) }}">{{ test[1] }}</a></td>
                    <td>{{ test[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
